<%- include("partials/header") %>
<%- include("partials/nav") %>


<h1 class="story">Story to edit:</h1>
<div class="edit-story">
    <form action="/editPost" method="post">
        <input type="hidden" name="id" value="<%= postId %>">
        <input type="text" name ="title" value="<%= postTitle %>">
        <textarea name="text" cols="30" rows="10"><%= postText %></textarea>
        <button class="btn" type="submit">Save</button>
    </form>
</div>
<%- include("partials/footer") %>