<%- include("partials/header") %>
<%- include("partials/nav") %>

<h1 class="story">My little notes</h1>
<div class="note-container">
    <% itemsList.forEach((item)=> { %>
        <div class="note-entry">
            <p><%= item.listItem %></p>
            <!-- delete item -->
            <form action="/toDo/<%= item._id %>" method="post">
                <input type="hidden" name="usersEmail" value="<%= usersEmail %>">
                <button class="btn" type="submit" name="delete">Delete</button>
            </form>
        </div>
    <% }); %>
    <!-- add item -->
    <div>
        <form action="/toDo" method="post">
            <input type="text" name="todoItem" placeholder="Make a note here" required>
            <input type="hidden" name="usersEmail" value="<%= usersEmail %>">
            <button class="btn" type="submit">Save</button>
        </form>
    </div>
</div>
<%- include("partials/footer") %>

