<%- include("partials/header") %>
<!-- Nav bar -->
    <nav>
        <div>
            Hello
            <% if (usersName){ %>
                <%= usersName %>
                    <% } %>
        </div>

        <div>
            <a href="logout" role="button">Logout</a>
            <a href="#toDo">To do list</a>
        </div>
    </nav>

<!-- rendered list of to do items -->
    <div id="toDo">
        <% itemsList.forEach((item)=> { %>
            <p>
                <%= item %>
            </p>
            <% }); %>
    </div>

<!-- add item to to do list -->
    <form action="/toDo" method="post">
        <input type="text" name="todoItem" placeholder="Enter the to do item" required>
        <input type="hidden" name="usersEmail" value="<%= usersEmail %>">
        <button type="submit">Save</button>
    </form>

    <%- include("partials/footer") %>