<%- include("partials/header") %>
<!-- Nav bar -->
    <nav>
        <div>
            Hello
            <% if (usersName){ %>
                <%= usersName %>
                    <% } %>
        </div>

        <div>
            <a href="/logout" role="button">Logout</a>
            <a href="/createPost">Create Post</a>
            <a href="#toDo">To do list</a>
        </div>
    </nav>

    <div>
        <h1>Your Posts:</h1>
    </div>
    <div>
        <% postsList.forEach((post)=>{ %>
            <h3><%= post.title %></h3>
            <p><%= post.text %></p>
      <%  }) %>
    </div>


<!-- rendered list of to do items -->
    <div id="toDo">
        <% itemsList.forEach((item)=> { %>
            <p>
                <%= item %>
            </p>
            <!-- delete item -->
            <form action="/toDo/<%= item %>" method="post">
                <input type="hidden" name="usersEmail" value="<%= usersEmail %>">
                <button type="submit" name="delete">Delete</button>
            </form>
            <% }); %>
    </div>

<!-- add item to to do list -->
    <form action="/toDo" method="post">
        <input type="text" name="todoItem" placeholder="Enter the to do item" required>
        <input type="hidden" name="usersEmail" value="<%= usersEmail %>">
        <button type="submit">Save</button>
    </form>

    <%- include("partials/footer") %>