<%- include("partials/header") %>
<%- include("partials/nav") %>

<h1 class="story"><%= postTitle %></h1>
<div class="story-container">
    <p class= "story-text"><%= postText %></p>

        <a class="back" href="/personalDiary">Back</a>

</div>
<%- include("partials/footer") %>

